.select-icon-anchor-overlay {

  .icon-selector-container {

    .list-icon-container {
      border: 1px solid #EFFEFE;
      max-width: 500px;
      max-height: 400px;
      min-width: 400px;
      min-height: 300px;
      overflow-y: auto;
      scrollbar-width: thin;

      button[data-no-visuals] {
        color: black;
        padding: 0;
      }

      .list-icon-search-bar {
        margin: 10px 10px;
      }
    }
  }
}
