<div class="mx-10 my-10 mb-10 px-10 place-items-center">

  <div class="flex w-full ">

    <div id="statistic-info"
         class="w-6/12">
      <angular-slickgrid class="w-80"
                         gridId="grid1"
                         [columnDefinitions]="columnDefinitions"
                         [gridOptions]="gridOptions"
                         [dataset]="dataset">
      </angular-slickgrid>
    </div>

    <app-product-card />

  </div>

  <label class="mx-2 py-5 flex w-full">
    <h3>{{showCode ? 'Hide Code': 'Show Code'}}</h3>
    <input [(ngModel)]="showCode"
           type="checkbox"
           class="toggle ml-2" />
  </label>

  <div class="flex w-full mb-10">
    <ng-container *ngIf="showCode">
      <div class="grid w-96 min-h-96 flex-grow card w-80 bg-base-300 ">
        <textarea class="textarea textarea-bordered w-full h-full"
                  placeholder="Add Description Here"
                  [(ngModel)]="descriptionContent">
        </textarea>
      </div>
      <div class="divider divider-horizontal"></div>
    </ng-container>
    <div class="grid min-h-96 flex-grow card bg-base-300 place-items-left px-2 w-80">
      <markdown emoji
                [data]="descriptionContent"
                class="markdown-project-info text-wrap overflow-y-auto py-5 px-5">
      </markdown>
    </div>
  </div>
</div>
