.campaign-card {
  textarea {
    resize: vertical;
  }

  border: 1px solid #75807e;
  border-radius: 10px;
  padding: 5px 15px;
  margin-top: 15px;

  h4 {
    margin: 15px 0 0;
  }

  sub {
    margin: 0;
  }
}
