<h1>
  <span class="pi pi-lightbulb"
        style="font-size: 2.5rem"></span>
  Project
</h1>

<!-- <div *ngIf="projectById$ | async as project; else loading"> -->
<!--   {{project.name}} -->
<!--   {{project.description}} -->
<!-- </div> -->
<!-- <ng-template #loading> -->
<!--   Loading user information... -->
<!-- </ng-template> -->

<p *ngIf="projectData | async as data">{{data}}</p>
<project-page-create-new-project />


<!-- <form-generator [data]="formData" -->
<!--                 (OnSubmit)="OnFormSubmit($event)" /> -->

<div *ngIf="projects$ | async as projects">
  <project-list-component [lists]="projects" />
</div>
