<form [formGroup]="formGroup"
      class="mx-5 my-4 form-generator-container">
  <div *ngFor="let key of formKey;"
       class="mt-3">
    <label [class]="this.data[key].type !== 'textarea' ? 'label':''">

      <div *ngIf="!key.includes('id')"
           class="label mb-2">
        <span class="label-text">
          <ng-icon [name]="this.getIconFromType(this.data[key].type)" />
          {{this.camelCase2space(key)}}</span>
      </div>

      <!-- input for text type      -->
      <input *ngIf="this.data[key].type !== 'textarea' && this.data[key].type !== 'checkbox' "
             class="w-full "
             [type]="this.data[key].type"
             ou
             [checked]="this.data[key].value"
             [value]="this.data[key].value"
             [formControlName]="key"
             [placeholder]="key"
             [hidden]="key.includes('id')"
             pInputText />

      <!-- input for checkbox type -->
      <input *ngIf="this.data[key].type ==='checkbox' "
             class="checkbox"
             type="checkbox"
             p-inputSwitch
             [formControlName]="key"
             hidden />

      <p-inputSwitch *ngIf="this.data[key].type ==='checkbox' "
                     [formControlName]="key"
                     [hidden]="key.includes('id')" />


      <label class="label cursor-pointer"
             *ngIf="this.data[key].type ==='textarea'">
        <span class="label-text">
          <ng-icon name="heroCodeBracketSquareSolid" />
          {{showCode ? "Hide Preview" : "Show Code"}}
        </span>

        <input type="checkbox"
               class="toggle toggle-primary"
               (change)="onShowCode()"
               [checked]="showCode" />

      </label>
    </label>
    <div *ngIf="this.data[key].type ==='textarea'"
         class="max-w-full">


      <div *ngIf="showCode">
        <textarea pInputTextarea
                  class="w-full"
                  rows="10"
                  cols="100"
                  [placeholder]="key"
                  [formControlName]="key"
                  [hidden]="key.includes('id')">
        </textarea>
      </div>

      <div *ngIf="!showCode"
           class="markdown-container">
        <markdown emoji
                  [data]="this.formGroup.value[key]"
                  class="max-w-6rem">
        </markdown>
      </div>
    </div>
  </div>
</form>
