<p class="px-2">
  ut sint virtutum reliquarum communia. Id enim volumus, id contendimus, ut officii fructus sit ipsum officium. Nihil
  opus
  est exemplis hoc facere longius. Sint modo partes vitae beatae.
</p>
<p-button (onClick)="showDialog()"
          label="Create New Project" />

<p-divider />

<div class="card flex justify-content-center">
  <p-dialog header="Project Description"
            [modal]="true"
            [(visible)]="visible"
            [style]="{ 
              width: '80vw',
              height: '80vh'
              }">

    <span class="p-text-secondary block mb-5">
      Enter Your Project Details.
    </span>


    <form-generator [data]="newProjectData"
                    (dataChange)="onDataChange($event)" />

    <div class="flex justify-content-end gap-2">
      <p-button label="Cancel"
                severity="secondary"
                (onClick)="showDialog()" />
      <p-button label="Save"
                (onClick)="onConfirm()" />
    </div>

  </p-dialog>
</div>
