@import '../../../variable.scss';

:host {
  ::ng-deep {
    &.p-card-title {
      line-height: 1.2rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.2rem;
      font-weight: 700;
    }

    &.p-card-subtitle {
      font-size: small;
    }

    &.p-card {
      max-width: 700px;
      border: 2px solid #e8eaf6;
      box-shadow: none;
    }

    &.p-tag {
      font-weight: 500;
      font-size: 0.65rem;
    }

    &.p-chips {
      display: initial;
    }

    &.p-chips-token-label {
      font-size: 13px;
    }

    .tag-expander {
      margin-bottom: 40px;
    }

    .item-description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
    }

  }
}
